<!-- Toolbar -->
<div class="toolbar" role="banner">

   <img width="150px" src="../assets/logo-removebg-preview.png" />

  
    <a aria-label="Cadastro Paciente" target="_blank" rel="noopener" routerLink="/cadastrarPaciente"
        title="Cadastro">
        <h1 class="toolMenu">Cadastro Paciente</h1>
    </a>
    <a aria-label="Funções Vitais" target="_blank" rel="noopener" routerLink="/adicaoFuncoesVitais"
        title="Funções Vitais">
        <h1 class="toolMenu">Funções Vitais</h1>
    </a>
    <a aria-label="Análise Clínica" target="_blank" rel="noopener" routerLink="/adicaoAnaliseClinica"
        title="Análise Clínica">
        <h1 class="toolMenu">Análise Clínica</h1>
    </a>

</div>

<div class="card-container">

        <a class="card" target="_blank" rel="noopener" routerLink="/consultaPaciente">
            <span>Paciente</span>
        </a>

        <a class="card" target="_blank" rel="noopener" routerLink="/listaSintomas">
            <span>Sintomas</span>
        </a>

        <a class="card" target="_blank" rel="noopener" href="/listaHabitos">
            <span>Hábitos</span>
        </a>

        <a class="card" target="_blank" rel="noopener" href="/listaExames">
            <span>Exames</span>
        </a>
</div>
