

<form [formGroup]="funcaoVital" (ngSubmit)="onSubmit()">
    
    <div>
        <label for="pacientes">Paciente - Senha: </label>
        <br><br>
        <select formControlName="pacientes" style="width: 100%; height: 70px;">
            <option *ngFor="let paciente of pacientes |async">{{paciente.nome}}</option>
        </select>
    </div>
    <div>
        <label for="temperatura">Temperatura: </label>
        <input id="temperatura" type="text" maxlength="5" formControlName="temperatura" />
    </div>
    <div>
        <label for="pressaoArterial">Pressão Arterial: </label>
        <input id="pressaoArterial" type="text" maxlength="5" formControlName="pressaoArterial" />
    </div>
    <div>
        <label for="batimentosCardiacos">Batimentos Cardíacos: </label>
        <input id="batimentosCardiacos" type="text" maxlength="5" formControlName="batimentosCardiacos" />
    </div>
    <button class="button" type="submit">Adicionando Funções Vitais</button>

</form>